.area-one{
    margin-top: 8%;
    background: #b01aa7;
    padding-bottom: 3%;
}
.btn-carseurope {
    margin-left: 80px;
    width: 12em;
    padding: 0;
    background: transparent;
    color: #fff;
    border: 3px solid #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}
.buttons-nine{
    margin-top: 1.5%;
    margin-left: 0%;
}
.btn-carsus {
    margin-left: 80px;
    width: 12em;
    padding: 0;
    background: transparent;
    color: #fff;
    border: 3px solid #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}
.area-one h2{
    color: white;
    margin-top: 8%;
    margin-left: 10%;
}
.area-one p{
    margin-left: 23%;
}
