.hello{
    background: rgb(48, 44, 44);
    height: 100%;
}
.hooman p{
    color: white;
}
.phutu{
    margin-left: 15%;
    padding-top: 0px;
    padding-bottom: 0px; 
}
.hooman Image{
    border: 1px solid white;
}
.ml-auto{
    margin-right: 20%;
}
.paragraph{
    color: white;
}